.Pomo-Main-Container{
    background: #1e555c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-width: 100% !important;
    /* height: calc(100vh - 56px); */
    min-height: 91vh;
    max-height: auto;
}
.Pomo-Center-Container{
    margin: 100px;
    background-color: #07071c;
    border-radius: 8px;
    height:fit-content;
    padding-bottom: 40px;
}
.Heading-Color{
    color: #FFFFFF !important;
}
.Heading4-width{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    color: #FFFFFF;
}
.Session-Col{
    margin-top: 50px;
    border: 2px solid #ffffff;
    margin: 50px auto 50px auto;
    width: 270px;
    height: 160px;
    border-radius: 20px;
    position: relative;
}
.Session-Heading{
    color: #FFFFFF !important;
    font-size: 50px;
}
.Session-Button{
    display: inline-block;
    margin-right: 10px;
    background-color: #ffffff !important;
    color: #000000 !important;
    font-weight: 700 !important;
}
.Fa-Square-Plus{
    height: 35px;
    color: #FFFFFF;
    cursor: pointer;
}