.Main-Container{
    background: #427897;
    max-width: 100% !important;
    min-height: 91vh;
    max-height: auto;
}
.Center-Container{
    background-color: hsla(0,0%,100%,.8);

}
.signin-Main-Container{
    background: #427897;
    max-width: 100% !important;
    /* min-height: 100%; */
    height: 91vh;
    /* height: calc(100vh - 56px); */
}
.signin-center-container{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 91vh;
    

}
.logo {
    /* height: 130px; */
    display: inline-block !important;
    display: flex !important;
    text-align: center;
}
.form-control{
    padding: 0.475rem 0.75rem !important;
    line-height: 2 !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    border: solid 1px #b4b8bb !important;
}
.form-select{
    padding: 0.475rem 0.75rem !important;
    line-height: 2 !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    border: solid 1px #b4b8bb !important;
}
.form-label{
    display: flex;
    font-weight: 500;
}
.signup-button{
    background-color: #427897 !important;
    padding: 0.475rem !important;
    border-radius: 4px !important;
    font-size: 20px !important;
    height: 48px;
    border: none !important;
    width: 100%;
    display: inline-block !important;
}
.signup-error{
    color: red;
    font-size: 12px;
}

.fa-Eye{
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}
.custom-col{
    background-color: #fff;
    border: solid 1px #b4b8bb !important;
    border-radius: 4px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-password{
    border: none !important;
    width: 86% !important;
}
.col-passw{
    width: 86% !important;
}
.col-icon{
    width: 12% !important;
}
.form-control-focus:focus{
    border-color: none !important;
    box-shadow: none !important;
  }